<mat-card class="productCard">
    <div class="imgDiv">
        <img mat-card-image src={{img}}>
        <mat-checkbox color="secondary" [(ngModel)]="selected" (click)="$event.stopPropagation()"></mat-checkbox>
    </div>
    <div class="contentCard">
        <mat-card-header>
            <mat-card-title>{{ nome }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><span>{{preco | currency: 'R$ '}}</span> à vista </p>
        </mat-card-content>
    </div>
</mat-card>