<main>
    <header>
        <div class="container">
            <h1 id="welcome-message">Bem-vindo!</h1>
            <p id="user-type">Explore nossa plataforma de compras de produtos</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>Sobre a Aplicação</h2>
            <p>Essa aplicação foi construída para oferecer uma experiência de compra de produtos, com funcionalidades
                para
                usuários comuns e administradores.</p>

            <p>O login será implementado para diferenciar os perfis de usuários e administradores.</p>

            <p>Projeto tem como base praticar e fortalecer o aprendizado em tecnologias de desenvolvimento FullStack</p>

            <h3>Tecnologias Utilizadas:</h3>
            <ul>
                <li><strong>Frontend:</strong> HTML, CSS, JavaScript, Angular.</li>
                <li><strong>Backend:</strong> Java Spring Boot (API RESTful).</li>
                <li><strong>Banco de Dados:</strong> PostgreSQL.</li>
            </ul>

            <h3>Objetivos:</h3>
            <ol>
                <li>Compreender o uso do Angular e Angular Material</li>
                <ul>
                    <li>Data binding</li>
                    <li>Diretivas</li>
                    <li>Diretivas Estruturais</li>
                    <li>Diretivas de Atributo</li>
                    <li>Serviços</li>
                    <li>Injeção de Dependências</li>
                    <li>Formulários e validação</li>
                    <li>Rotas</li>
                </ul>
                <li>Lidar com requisições e autenticações utilizando Spring Web e Spring Security</li>
                <li>Praticar o uso do banco de dados relacional PostgreSQL</li>
                <li>Aprimorar conhecimento em interfaces atraentes e responsivas com uso do css flexbox</li>
                <li>Compreender conceitos de criptografia e certificados</li>
                <li>Monitoramento avançado com ferramentas de log(Log4j?)</li>
                <li>Sistema de pagamento(Stripe?)</li>
                <li>(E-mail service?)</li>
                <li>Realizar deploy em uma VPS</li>
            </ol>

        </div>
    </section>
</main>