main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(14, 0, 255, 0.8) 0%, rgba(30, 30, 255, 0.8) 27%, rgba(85, 85, 255, 0.8) 74%, rgba(78, 141, 255, 0.8) 100%);
}

h3,
h2,
h1,
strong {
    color: blue;
}

header,
section {
    padding: 12px 25px;
    width: 45%;
    background-color: rgb(253, 253, 255);
}