main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(14, 0, 255, 1) 0%, rgba(30, 30, 255, 1) 27%, rgba(85, 85, 255, 1) 74%, rgba(78, 141, 255, 1) 100%);
}

.cardRegister {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 60%;
    padding: 50px 30px 50px 26px;
    background-color: rgb(230, 238, 255);
    border-radius: 5%;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

form>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
}

.buttonBar {
    display: flex;
    gap: 20px;
}