main {
    display: flex;
    flex-direction: row;
    border-top: solid 1px blue;
    height: 100%;
}

.filterSection {
    display: flex;
    flex-basis: 18%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    border-right: solid 1px black;
    padding: 10px;
}

.productList {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(236, 236, 236);
}

.headerSearch {
    background-color: white;
    padding: 15px;
    height: 110px;
}

.toolBarSearch {
    display: flex;
    gap: 15px;
    align-items: center;
}

mat-form-field {
    flex-grow: 0.7;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 36px;
}