<main>
    <section class="filterSection">
        <h2>Filtros</h2>
    </section>
    <section class="productList">
        <div class="headerSearch">
            <h2>Lista de Produtos</h2>
            <div class="toolBarSearch">
                <mat-form-field>
                    <input class="searchInput" matInput placeholder="Pesquisar Produtos">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="viewCriarProduto()">
                    <mat-icon>add</mat-icon>
                    Adicionar
                </button>
                <button mat-stroked-button>
                    <mat-icon>
                        delete
                    </mat-icon>
                    Excluir
                </button>
            </div>
        </div>
        <div class="content">
            <app-card *ngFor="let produto of produtos" [img]="produto.imagem" [nome]="produto.nome"
                [preco]="produto.preco">
            </app-card>
        </div>
    </section>
</main>