main {
    display: flex;
    flex-direction: row;
    min-height: 94%;
}

.filterSection {
    display: flex;
    flex-direction: column;
    flex-basis: 18vw;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 0px 0px rgba(100, 100, 100, 0.5);
    z-index: 1;
}

.filters {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 35px;
    align-items: center;
}

.productList {
    flex-basis: 80vw;
    flex-grow: 0;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(14, 0, 255, 0.6) 0%, rgba(36, 36, 255, 0.6) 54%, rgba(42, 85, 255, 0.6) 100%);
}

.headerSearch {
    background-color: white;
    padding: 15px;
}

.toolBarSearch {
    display: flex;
    gap: 15px;
    align-items: center;
}

mat-form-field {
    flex-grow: 0.7;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 36px;
}

.labelPriceFilter {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 0;
    width: 100%;
}

.priceFilter {
    width: 100%;
}

mat-slider {
    width: 100%;
}

h3 {
    font-weight: 500;
}

.titlePrice {
    display: flex;
}